@model UpdateCurrencyResponseModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-xs-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Vertical Form</h2>
            <div class="actions panel_actions pull-right">
                <a class="box_toggle fa fa-chevron-down"></a>
                <a class="box_setting fa fa-cog" data-toggle="modal" href="#section-settings"></a>
                <a class="box_close fa fa-times"></a>
            </div>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-md-8 col-sm-9 col-xs-10">

                    <form method="post" asp-action="UpdateCurrency">
                        <input type="hidden" name="form-name" asp-for="ID">
                        <div class="form-group">
                            <label class="form-label" asp-for="Name">Para birimi adı *</label>
                            <span asp-validation-for="Name"></span>
                            <input asp-for="Name" type="text" class="form-control" id="field-13">
                        </div>
                        <div class="form-group">
                            <label class="form-label" asp-for="Symbol">Para birimi sembolu *</label>
                            <span asp-validation-for="Symbol"></span>
                            <input asp-for="Symbol" type="text" class="form-control" id="field-13">
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary ">Güncelle</button>
                        </div>

                    </form>

                </div>
            </div>

        </div>
    </section>
</div>

@section JavaScript{
    <script src="~/lib/jqueryunob/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jqueryvalidate/jquery.validate.min.js"></script>
}